.genplan {
    height: calc(100vh - 215px);
    overflow: hidden;
   
}

.build-item {
    fill: #05ffff00;
    stroke: #05ffff00;
    fill-opacity: 0.3;
    stroke-width: 3px;
    transition: .1s;

    &:hover {
        fill: #05FFFF;
        stroke: #05FFFF;
    }
}
