header {
    background-color: $colors-3;
    padding: 24px 0;
   
 .container {
    display: flex;
    }
}

.logo {
    display: inline-block;
    max-width: 160px;
}

.header-nav {
    margin-left: auto;
    display: flex;
    font-size: 22px;
}

.nav-item {
    padding: 12px 24px;
}
