///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///

$colors-1: #051314;
$colors-2: #284349;
$colors-3: #55757F;
$colors-4: #55839F;
$colors-5: #A3ADBC;
$color-accent: #f1f1f1;
 



