<footer>
	<div class="container">
		<ul class="information-list">
			<li class="information-item">
				<h6>Адреса:</h6>
				<div id="information-address">вул. Незалежності 15 </div>
			</li>
			<li class="information-item">
				<h6>Кількість поверхів:</h6>
				<div id="information-floors">9</div>
			</li>
			<li class="information-item">
				<h6>Загальна кількість квартир:</h6>
				<div id="information-flats-all">96</div>
			</li>
			<li class="information-item">
				<h6>Кількість вільних квартир:</h6>
				<div id="information-flats-free">24</div>
			</li>
			<li class="information-item">
				<h6>Кількість акційних квартир:</h6>
				<div id="information-flats-action">7</div>
			</li>
			<li class="information-item">
				<h6>Заброньовані квартири:</h6>
				<div id="information-flats-reservation">7</div>
			</li>
		</ul>
	</div>
</footer>
<script async src="assets/js/custom.js"></script>
</body>
</html>